h1, h2, h3, h4, h5, h6 {
    color: #2980b9;
}
a:visited {
    color: #2980b9;
}
.wy-menu-vertical a:visited {
    color: #b3b3b3;
}
.wy-side-nav-search>a, .wy-side-nav-search .wy-dropdown>a {
    color: #fcfcfc;
}
.rst-content .section ul li, .rst-content .toctree-wrapper ul li, article ul li {
    list-style: square;
}