.slides > article {
    color: #404040
}
h1, h2, h3 {
    color: #fcfcfc
}
ul {
    list-style-type:square;
}
.slide.level-1, .slide.level-2 {
    background-color: #2980b9;
}
.slide.level-3 {
    background-image: -webkit-linear-gradient(top,#2980b9 50%, #ffffff 60%);
    background-image: -o-linear-gradient(top,#2980b9 50%, #ffffff 60%);
    background-image: -moz-linear-gradient(top,#2980b9 50%, #ffffff 60%);
    background-image: linear-gradient(top,#2980b9 50%, #ffffff 60%);
    background-position: 0 110px;
    background-size: auto 175px;
    background-repeat: repeat-x;
    background-attachment:fixed;
}