{% extends "EpsiBlogBundle::base.html.twig" %}

{% block content %}
    <h1>Formulaire</h1>
    {% for type, messages in app.session.flashbag.all %}
        {% for message in messages %}
            {{ type }} : {{ message }}
        {% endfor %}
    {% endfor %}
    {{ form(form) }}
{% endblock %}